.RedefinePassword{
    margin: auto;

    .input{
        width: 60%;
        margin: auto;
    }

    .SubmitButton{
        width: 60%;
        margin: auto;
        background-color: var(--roxo);
        border-color: var(--roxo);
        color: #fff;
    }


}