:root {
    --roxo: #57455c;
    --roxoClaro: #7e798c;
    --amarelo: #feb557;
    --amareloClaro: #fbdaab;
    --meu_voto_style_verde: #0AD75F;
    --meu_voto_style_chumbo: #2D2D32;
    --meu_voto_style_amarelo: #2D2D32;
    --meu_voto_style_azul: #64CDFF;
    --meu_voto_style_vermelho: #E65F5A;
}

body{
    font-family: 'Montserrat', sans-serif;;
}

.bold, b, strong { font-weight: bold; }

/*
 *   MENU
 */

.navbar {
    background-color: var(--meu_voto_style_verde);
    padding: 15px 0;
}


/*
 *   TEXTO 1
 */

.texto-bemvindo{
	color: #777;
	text-align: center;
}

/*
 *   CATEGORIAS
 */

.card{
	width: 48%;
	display: inline-block;
	border: none;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 10px 15px 0 15px;
	color: #fff;
}
.card:hover{ opacity: 0.8; }
.card1{ background-color: #B2C73D; }
.card2{ background-color: #03AED0; }
.card3{ background-color: #FDBA25; }
.card4{ background-color: #0074BB; }
.card5{ background-color: #EE7F30; }
.card6{ background-color: #79378E; }
.card-title { font-weight: bold; }

.circulo{
	border: 1.25px solid #fff;
	color: #fff;
	font-size: 12px;
	width: 50px;
	height: 50px;
	line-height: 50px;	
	vertical-align: middle;
	text-align: center;
	position: relative;
	display: inline;
	float: right;	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/*
 *   BOTÕES
 */

.btn-primary{
	background-color: var(--meu_voto_style_verde);
    background-color: 7e798c;
    border: none;
    border-radius: 12px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.btn-primary:hover{
	background-color: var(--meu_voto_style_verde);
    background-color: 7e798c;
    border: none;
    opacity: 0.9;
}


/*
 *   RODAPÉ
 */

footer{
	background-color: var(--meu_voto_style_verde);
    background-color: 7e798c;
    padding: 5px;
    position: absolute;
	bottom: 0;
	width: 100%;
}


/*
 *   RESPONSIVO
 */

@media (max-width: 575.98px){
	.card p, h6{
		font-size: 13.5px;
	}

	footer{
		position: absolute;
	    bottom: 0;
	    width: 100%;
	}

	.circulo-perguntas{
	background-color: #B2C73D;
	color: #fff;
	font-size: 17px;
	width: 30px;
	height: 30px;
	line-height: 30px;	
	vertical-align: middle;
	text-align: center;
	position: relative;
	display: inline;
	float: left;	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	}
}

@media (min-width: 1024px){
	.card{
		width: 33%;
	}

	.texto-bemvindo p, h6{
		font-size: 18px;
	}

	footer{
		position: absolute;
	    bottom: 0;
	    width: 100%;
	}
}
