:root {
  --roxo: #57455c;
  --roxoClaro: #7e798c;
  --amarelo: #feb557;
  --amareloClaro: #fbdaab;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Asap', sans-serif;
}
