:root {
  --roxo: #57455c;
  --roxoClaro: #7e798c;
  --amarelo: #feb557;
  --amareloClaro: #fbdaab;
  --textoPadrao: #333;
  --cinza: #949493;
  --cinzaClaro: #ecedef;
  --pretoClaro: #4b504d;
  --buttonBorderRadius: 5px;
  --fontSize1: 10px;
  --fontSize2: 12px;
  --fontSize3: 14px;
  --fontSize4: 16px;
  --meu_voto_style_verde: #0AD75F;
  --meu_voto_style_chumbo: #2D2D32;
  --meu_voto_style_amarelo: #2D2D32;
  --meu_voto_style_azul: #64CDFF;
  --meu_voto_style_vermelho: #E65F5A;
}

:focus {
  outline-color: var(--meu_voto_style_chumbo);
  outline-color: #feb557;
  outline-offset: 4px;
  outline-width: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;;
  color: var(--textoPadrao);
  color: #333;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px 8px;
}

.btn-primary {
  font-size: 16px;
  background-color: var(--meu_voto_style_verde);
  color: #fff;
}

.btn-light {
  background: #fff;
  border: 1px solid var(--meu_voto_style_verde);
  min-width: 90px;
}

.btn-light:disabled,
.btn-light[disabled] {
  background: #d1d2d4;
  border-color: #d1d2d4;
  color: #fff;
}

.btn--big {
  padding: 8px 25px;
}

a[disabled] {
  pointer-events: none;
}
