.header {
  background-color: var(--roxo);
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  width: 130px;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
