.ranking {
  color: var(--pretoClaro);

  .progress-bar {
    background-color: #CCCCCC;
    padding: 10px 20px;
    color: var(--pretoClaro);

    .progress-bar-title {
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
    }
  }

  .question-list {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0px 5px 10px var(--cinzaClaro);
  }

  .description {
    padding: 0px 30px;
    text-align: center;
    font-size: 0.9em;
  }

  .deputados {
    margin-top: 10px;
  }

  .barra-ver-mais {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .ver-mais {
      padding: 5px 20px;
      border-radius: 10px;
      background-color: var(--meu_voto_style_chumbo);
      color: #fff;
      font-size: var(--fontSize3);
      border: 0px;
    }
  }
}

.candidate__view-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidate__view-switcher button {
  font-size: .8em;
  padding: 5px 15px;
  background: #f3f3f4;
  color: #4e4e4e;
  border: 1px solid #939598;
}

.candidate__view-switcher button:first-child {
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.candidate__view-switcher button:last-child {
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

.candidate__view-switcher .bt-view--selected {
  background: #939598;
  color: #fff;
}
