
/*
 *   FOOTER
 */

 .footer .realizacao { margin: 10px 0; }
 .footer .ajude { margin: 15px 0; }
 .footer a { color: #ffffff; }
 .footer h4 {
     color: var(--amarelo);
     margin: 0 15px 0 0;
     font-size: 16px;
 }
 
 @media ( min-width: 992px ) {
     .footer { padding: 30px 0; }
     .footer .ajude { margin: 0; }
     .footer h4 { margin: 0 0 10px; }
     .realizacao img {
         width: auto;
         margin: 0 15px;
     }
 }
 