.bold, b, strong { font-weight: bold; }
.upper { text-transform: uppercase; }

.footer h4 {
  color: var(--amarelo);
  margin: 0 15px 0 0;
  font-size: 16px;
}

.footer a { color: #ffffff; }
.footer a:hover{ color: #feb557; }

.btn-custom {
  border-radius: 8px;
  padding: 5px 25px;
}

.btn-prim {
  background: none;
  border: 1px solid #FFFFFF;
  padding: 5px;
}

.btn-prim:hover {
  background: #007bff;
  border: 1px solid #007bff;
}


@media screen and (min-width: 768px){
  .footer{ position: relative; height: 90px;}
  .footer .contato{
    width: 30%;
    position: relative;
    float: left;
    text-align: center;
  }

  .footer .ajude{
    width: 30%;
    position: relative;
    float: left;
    text-align: center;
  }

  .footer .realizacao{
    width: 40%;
    position: relative;
    float: left;
    text-align: center;
  }

  .footer a:link{ text-decoration: none;}

  .realizacao img{
    width: 110px;
    margin: 0px 5px;
  }

}

@media screen and (min-width: 767px){
  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}


@media screen and (max-width: 767px){
  .footer {
      padding: 30px 0;
      bottom: 0;
      position: inherit;
      width: 100%;
      text-align: center;
  }
  .footer .ajude { margin: 0; padding: 30px; }
  .footer h4 { margin: 0 0 10px; }
  .realizacao img {
      width: 100px;
      margin: 0 5px;
      padding: 0px 10px;
  }
  .footer .contato{
      padding-bottom: 5px;
  }
}
