.landing-page__projeto {
  background-color: #fbd9ae;
  margin: 0px;
}

.landing-page__descricao {
  margin-top: 15%;
  text-align: center;
  font-size: 16px;
  color: #443148;
}

.landing-page__descricao h1 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.landing-page__realizacao {
  margin: 0px 0 10px;
}

.landing-page__call-to-action {
  margin-top: -5%;
  text-align: center;
}

.banner{
  margin: 0px;
}

.banner img{
  width: 100%;
  margin: 0px;
}

.btn{
  color: #57455c;
  background-color: #feb557;
}
