.CandidateData {
    display: flex;
    border-bottom: 1px solid black;
    padding: 0px 0px;
  
    & > div {
      padding: 15px;
    }
  
    .photo img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  
    .info {
      flex-grow: 1;
  
      .candidate-name {
        font-weight: bold;
        text-transform: capitalize;
      }
  
      .candidate-number {
        margin-left: 10px;
      }

      .candidate-description{
        margin-left: 0px;
      }
  
      .match-percent {
        border-radius: 40px;
        background-color: var(--roxoClaro);
        color: #fff;
        padding: 1px 20px;
        display: inline-block;
        font-size: var(--fontSize3);
      }
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      button {
        background-color: var(--cinzaClaro);
        color: var(--cinza);
      }
    }
  }

  .CandidateAnswers{
    margin: 20px;

    .QuestionTitle{
        margin: 0 0 20px 0;
        font-size: 1em;
        color: #333;
    }

    .QuestionNumber{
        font-weight: bold;
        margin-right: 5px;
    }

    .QuestionAnswer{
        font-weight: bold;
        margin-left: 25px;
    }

    .QuestionJustification{
        font-weight: bold;
        margin-left: 25px;

    }

    .BtnAnswer{
      border: 1px solid #ccc;
      border-color: var(--roxo);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 10px 8px 10px 28px;
      font-size: 14px;
      cursor: pointer;
      position: relative;
      width: 200px;
      color: #333;
    }
  }

  .Titulo{
    text-align: center;
  }
  