.results {
  color: var(--pretoClaro);

  .progress-bar {
    background-color: #CCCCCC;
    padding: 10px 20px;
    color: var(--pretoClaro);

    .progress-bar-title {
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
    }
  }

  .question-list {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 5px 10px var(--cinzaClaro);
  }

  .description {
    padding: 0px 30px;
    text-align: center;
    font-size: 0.9em;
  }

  .deputados {
    margin-top: 10px;
  }

  .barra-ver-mais {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .ver-mais {
      padding: 5px 20px;
      border-radius: 10px;
      background-color: var(--roxoClaro);
      color: white;
      font-size: var(--fontSize3);
      border: 0px;
    }
  }
}
