.questions-menu {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  max-height: 55px;
  overflow: hidden;
  padding: 15px 20px;
  transition: max-height 0.3s ease-in-out;
  will-change: max-height;
  border-radius: 20px;
}

.question-item-button {
  background: none;
  border: none;
}

.questions-menu.active {
  max-height: 300px;
}

.questions-button {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  height: 25px;
  justify-content: space-between;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

.arrow {
  margin-left: 10px;
  transition: transform .3s cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;
  transform: rotate(180deg);
}

.active .arrow {
  transform: rotate(0deg);
}

.question-item {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question-item a {
  text-decoration: none;
  color: inherit;
}

.question-item:hover a {
  text-decoration: underline;
}

.question-answered::after {
  background-color: #ffc66e;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  max-width: 30px;
  border-radius: 40px;
  position: relative;
}

.current-question button {
  background-color: #7e798c;
  border-radius: 50%;
  color: #ffffff;
  height: 30px;
  width: 30px;
}

.questions-board {
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  will-change: visibility;
}

.active .questions-board {
  visibility: visible;
}

.questions-board ol {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px auto;
}

@supports (display: grid) {
  .question-item {
    margin: 0 auto;
    width: 100%;
  }

  .questions-board ol {
    display: grid;
    grid-gap: 5px 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
