.questions-menu {
  padding: 15px 30px;
}

.questions-button {
  display: flex;
  background: none;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 25px;
  padding: 0;
}

.arrow {
  margin-left: 10px;
  transition: transform .3s cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;
}

.active .arrow {
  transform: rotate(180deg);
}

.question-item {
  text-align: center;
}

.question-answered::after {
  background-color: #ffc66e;
  content: '';
  display: block;
  height: 3px;
  position: relative;
}

.current-question {
  background-color: #7e798c;
  color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
}

.questions-board ul {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
  grid-gap: 10px 25px;
}
