.questionario__container {
  display: flex;
  flex-direction: column;
  /*height: calc(100vh - 100px);*/
  padding: 20px;
}

.questionario__container--loading {
  opacity: 0.4;
}

.questionario__actions-container {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  flex-shrink: 0;
  padding: 10px 0 20px;
}

.questionario__aviso-candidato {
  color: #727273;
  font-size: 12px;
  margin: 0 0 10px 0;
}

.justification-field {
  margin-top: 20px;
}

.justification-field textarea {
  height: 94px;
}

.questions_box {
  width: 80%;
  margin: 0 auto;
}

.questions_box .questions-menu {
  margin-top: 30px !important;
}

@media screen and (max-width: 800px) {
  .questions_box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .questions_box {
    width: 30%;
  }
}
